body {color: var(--primary-text-color);

    background-color: var(--primary-bcg-color);

    font-family: Roboto, sans-serif;
}

:root {--primary-text-color: #212121;
--text-color: #757575;
--logo-color: #2196F3;
--accent-color: #2196F3;
--nav-color: #757575;
--address-color: #FFFFFF;
--contacts-color: rgba(255, 255, 255, 0.6);
/* text colors */

--primary-bcg-color: #FFFFFF;
--hero-bcg-color: #2F303A;
--footer-bcg-color: #2F303A;
--section-bcg-color: #F5F4FA;
/* background colors */

/* --primary-font: );
--logo-font: Raleway 700; ????*/
}

/*шрифты 
Raleway – 700, roboto, sans-serif
Roboto – 400,500,700,900, sans-serif*/


/* header styles */
.logo {color: var(--logo-color);

font-family: raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.17;

text-decoration: none;}

.logo-studio {color: var(--primary-text-color);

font-family: raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.17;

text-decoration: none;}

.site-nav .link {color: var(--primary-text-color);

font-family: roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.17;

text-decoration: none;} 

.site-nav .link:hover {color: var(--accent-color);}
.site-nav .link:focus {color: var(--accent-color);}

/* contacts in header */
.contact-list .contact:hover {color: var(--accent-color);}
.contact-list .contact:focus {color: var(--accent-color);}

.contact-list .contact {color: var(--nav-color);
font-family: roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.17;

text-decoration: none;}

.nav-list,
.contact-list {list-style: none;} 


/* hero section*/


/* footer */
.footer {background-color: var(--footer-bcg-color);}

.footer-logo-studio {color: var(--address-color);}

.address {color: var(--address-color);
font-family: roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;}

.address-list .cont-address {color: var(--contacts-color);
font-family: roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.17;

text-decoration: none;}

.address-list {list-style: none;}
